{% extends "frame.html" %}
{% set username = session.get("username") %}
{% set is_admin = session.get("is_admin") %}
{% set admin_pw_hash = parameters["AdminPasswordHash"] %}
{% block navbar_admin_class %}active{% endblock %}
{% block page_content %}
  <div class="row">
  <div class="col-md-12 col-sm-12">
{% if is_admin %}
    <h2>Rolemaker Administration</h2>
    <div class="panel panel-default">
      <div class="panel-heading">Site Configuration</div>
      <div class="panel-body">
        <form method="POST" action="/admin">
          <div class="form-group">
            <input type="hidden" name="action" value="site-config">
            {{ xsrf() }}
            {{ form_input("site-dns", "DNS name", parameters["SiteDNS"],
                          placeholder="rolemaker.example.com",
                          hint="The hostname of this Rolemaker installation") }}
            {{ form_input("saml-metadata-url", "SAML IdP metadata URL", parameters["SAMLMetadataURL"],
                          placeholder="https://hostname/FederationMetadata/2007-06/FederationMetadata.xml",
                          hint="The URL for your SAML identity provider. For Active Directory Federation Services, this is usually "
                               "https://<i>hostname</i>/FederationMetadata/2007-06/FederationMetadata.xml") }}
            {{ form_submit() }}
          </div>
        </form>
      </div>
    </div>
{% elif admin_pw_hash %}
    <h2>Administrator Login</h2>
    <p>This Rolemaker deployment has not been configured. Use the administrator password
    from your CloudFormation stack output to log in.</p>

    <form method="POST" action="/admin">
      <div class="form-group">
        <input type="hidden" name="action" value="initial-admin-login">
        {{ xsrf() }}
        {{ form_input("password", "Password", "", type="password") }}
        {{ form_submit() }}
      </div>
    </form>
  </div>
{% else %}
  <h2>Administrator Login Unavailable</h2>
  <p>This Rolemaker deployment has already been configured. Log in from your SAML
    application.
  </p>
{% endif %}
  </div>
</div>
{% endblock page_content %}
